ion-content {
    --background: #fcf5eb
  }
  

  ion-toolbar {
    --background: #fcf5eb
  }
  .card-container {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;          
  }
  
  ion-card {
    width: 80%;             
    max-width: 600px;       
    height: 100%;           
    max-height: 70vh;      
    overflow: auto;         
    background-color: white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 12px;    
    border-color: black;
    padding: 3%;            
  }
  
  ion-card ion-card-title {
    text-align: center;
    margin-bottom: 10%;
    color: black;
    font-size: 30px
  }
  
  ion-card ion-button {
    margin-top: 3%;
    height: 60px;
    width: 100%; 
    color: black;

  }
  

  ion-item, ion-input, .password {
    --background: rgba(255, 255, 255, 0); 
  }
  
  ion-input {
    --border-width: 0px;  
    color: black;

  }
  
  ion-input:focus-within {
    --border-width: 2px;  
    --border-color: black; 
  }
  
  ion-input .input-placeholder {
    color: #888; 
  }
  
  ion-item {
    --background: rgba(255, 255, 255, 0); 
  }
  
  .centered-text {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;   
    width: 100%;      
    font-size: 17px;
    margin-top: 3%;
    color: black;
  }
  
  .logo {
    max-width: 15vh;
    height: auto;
    display: block;
  }
  
