<ion-app>
  <ion-split-pane content-id="main-content">
    <ion-menu content-id="main-content" side="start">
      <ion-header class="no-shadow">
        <ion-toolbar color="light">
          <ion-buttons slot="start">
            <ion-avatar class="small-avatar">
              <img src="../../assets/user.png" alt="User Avatar" />
            </ion-avatar>
          </ion-buttons>

          <ion-label class="user-name">
            {{ userData.displayName || 'User' }}
          </ion-label>

          <ion-title slot="end">Chats</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="no-padding">
        <ion-item
          button
          (click)="toggleUserList()"
          lines="none"
          class="new-chat-item"
        >
          <ion-icon name="add-circle-outline" slot="start"></ion-icon>
          <ion-label>Start New Chat</ion-label>
        </ion-item>

        <ion-list *ngIf="showUserList">
          <ion-item
            *ngFor="let user of filteredUsers"
            (click)="startNewChat(user.userId)"
          >
            <ion-label>{{ user.username }}</ion-label>
          </ion-item>
        </ion-list>

        <ion-list *ngIf="!showUserList">
          <ion-item
            button
            lines="none"
            class="no-shadow"
            *ngFor="let chat of chats"
            (click)="openChat(chat.id, chat.reverseId)"
          >
            <ion-avatar slot="start">
              <img src="../../assets/user.png" alt="Avatar" />
            </ion-avatar>
            <ion-label>
              <h2>{{ chat.userName }}</h2>
              <p>{{ chat.lastMessage }}</p>
            </ion-label>
            <ion-note slot="end"
              >{{ chat.lastMessageDate ? getTime(chat.lastMessageDate) : ""
              }}</ion-note
            >
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-header class="no-shadow">
        <ion-toolbar color="light">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>{{ currentChatName }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="showAlert(':|', 'Not that much.')">
              <ion-icon name="call-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="logout()">
              <ion-icon name="log-out-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="no-padding transparent-content">
        <div class="messages" id="messages">
          <div
            *ngFor="let message of messages"
            [ngClass]="{'message': true, 'sent': message.sender === userData['uid'], 'received': message.sender !== userData['uid']}"
          >
            <p>{{ message.message }}</p>
            <span class="message-time"
              >{{ getTime(message.timestamp) || "" }}</span
            >
          </div>
        </div>
      </ion-content>

      <ion-footer class="transparent-footer">
        <ion-toolbar>
          <div class="input-container">
            <ion-input
              [(ngModel)]="messageText"
              placeholder="Type a message..."
              type="text"
              shape="round"
              class="message-input"
            ></ion-input>
            <ion-button
              shape="round"
              class="sendButton"
              (click)="sendMessage()"
            >
              <ion-icon name="send"></ion-icon>
            </ion-button>
          </div>
        </ion-toolbar>
      </ion-footer>
    </div>
  </ion-split-pane>
</ion-app>
