.no-shadow {
  box-shadow: none;
  --ion-box-shadow: none;
}

.no-padding {
  --padding: 0;
}

.transparent-content {
  --background: transparent;
  height: calc(100% - 56px);
  --offset-bottom: 0px;
  --offset-top: 0px;
  --safe-area-inset-bottom: 0;
  position: relative;
}

.transparent-footer {
  --background: transparent;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.small-avatar {
  width: 40px;
  height: 40px;
}

.messages {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: calc(100vh - 112px);
  overflow-y: auto;
  background-color: #e5ddda;
}

.message {
  padding: 0.2em 0.8em 0.8em;
  margin: 5px 0;
  border-radius: 18px 18px 5px 18px;
  max-width: 60%;
  min-width: 100px;
  font-size: 14px;
  line-height: 1.5;
  position: relative;
  background-color: #dcf8c6;
  align-self: flex-end;
}

.message-time {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 12px;
  color: #666;
  white-space: nowrap;
}
.sent {
  background-color: #dcf8c6;
  align-self: flex-end;
  border-radius: 10px 10px 0 10px;
}

.received {
  background-color: #ffffff;
  align-self: flex-start;
  border-radius: 10px 10px 10px 0;
}

.message-time {
  font-size: 12px;
  color: gray;
  text-align: right;
  margin-top: 5px;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 5px;
}

.message-input {
  flex: 1;
  --padding-start: 3%;
  border-radius: 20px;
  border: 1px solid #ddd;
  padding-left: 10px;
}

.ion-toolbar {
  border-bottom: none;
}

.ion-item {
  box-shadow: none;
  --ion-box-shadow: none;
}

.avatar-container {
  margin-right: 10px;
}

.chat-header {
  display: flex;
  align-items: center;
}

.user-name {
  font-size: 16px;
  margin-left: 10px;
  font-weight: bold;
  color: #333;
}

ion-button {
  --background: #21bf61;
  --background-hover: #21bf61;
  --background-activated: #21bf61;
}

@media (prefers-color-scheme: dark) {
  .messages {
    background-color: #1e1e1e;
  }

  .sent {
    background-color: #134d38;
    align-self: flex-end;
    border-radius: 10px 10px 0 10px;
  }

  .received {
    background-color: #242527;
    align-self: flex-start;
    border-radius: 10px 10px 10px 0;
  }

  .user-name {
    color: white;
  }
}
